$color-primary: #007aff;
$color-text: #1f1f1f;
$color-sub: #666;

.text-sub {
  color: $color-sub;
  font-size: 26rpx;
}

.flex {
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mt-16 {
  margin-top: 16rpx;
}

.mt-24 {
  margin-top: 24rpx;
}

.mt-32 {
  margin-top: 32rpx;
}

